/* app css stylesheet */

body {
  background-color: #81CFE0 !important;
  margin: 0px !important;
  padding: 0px !important;
  text-align: center !important; /* !!! */
}

#logo {
  font-size: 2.5em;
  font-family: 'Lobster', cursive;
  color: #fff;
  padding: 30px 0px 10px 0px;
}

#footer-text {
  font-size: 3em;
  font-family: 'Lobster', cursive;
  color: #fff;
  position: relative;
  top: 100px;
  margin: auto;
}

#container-head {
  height: 85px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#logbox {
  padding: 10px;
  margin: 50px auto;
  width: 340px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#container-search {
  margin-top: 44px;
  padding: 10px;
  height: 280px;
  width: 100%;
  background-color: #E4F1FE;
  /*
  position: absolute;
  top: 137px;
  */
}

#searchBar {
  padding: 10px;
  margin: 20px auto;
  width: 65%;
  background-color: #E4F1FE;
}

.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}
.input:focus {
  outline: none;
  border-bottom-color: #F89406 !important;
}
.input:hover {
  border-bottom-color: #dcdcdc;
}
.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
  position: relative;
  width: 85%;
  height: 50px;
  display: block;
  margin: 30px auto 30px;
  color: white;
  background-color: 
  ;
  border: none;
  -webkit-box-shadow: 0 5px 0 #F2784B;
  -moz-box-shadow: 0 5px 0 #F2784B;
  box-shadow: 0 5px 0 #F2784B;
}

.searchButton {
  position: relative;
  width: 30%;
  height: 50px;
  display: block;
  margin: 30px auto 30px;
  color: white;
  background-color: #F89406;
  border: none;
  -webkit-box-shadow: 0 5px 0 #F2784B;
  -moz-box-shadow: 0 5px 0 #F2784B;
  box-shadow: 0 5px 0 #F2784B;
}

.inputButton:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 #F2784B;
  -moz-box-shadow: 0 3px 0 #F2784B;
  box-shadow: 0 3px 0 #F2784B;
}

.inputButton:active {
  top: 5px;
  box-shadow: none;
}

.inputButton:focus {
  outline: none;
}

/* ---- */

/*
body {
  font-family: Lato;
  background: #bada55;
}
*/

.container-tutor-card {
  margin: 25px auto;
  width: 1000px;
}

/*
a {
  display: inline-block;
  transition: all ease 0.3s;
}
*/

#tutor-name {
  font-size: 2.5em;
  color: #777777;
}

#tutor-subjects {
  font-size: 1.5em;
  color: #F89406;
}

#tutor-bio {
  font-size: 1.1em;
  color: #777777;
}

#tutor-city {
  font-size: 1.5em;
  color: #F89406;
}

.profile-text {
  padding: 0px 0px 15px 0px;
}

.profile-box {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
  height: 300px;
  /*overflow: hidden;*/
}

.profile-box .profile-picture {
  position: absolute;
  top: 0px;
  left: 75px;
  margin-left: -75px;
}

.profile-box .profile-picture img {
  width: 300px;
  height: 300px;
}

.profile-content {
  padding: 30px 80px 30px 350px;
  text-align: left;
}

.profile-content h1 {
  font-weight: normal;
  margin-bottom: 0.2em;
}

.profile-content p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #d2d2d2;
}

#likes-button {
  position: absolute; 
  bottom: 0px;
  right: 252px;
}

#read-more-button {
  position: absolute; 
  right: 0px;
  bottom: 0px;
}

#contact-tutor-button {
  position: absolute; 
  right: 117px;
  bottom: 0px;
}

.profile-button {
  border: 0 none;
  padding: 12px 18px;
  margin: 10px;
  font-size: 1.1em;
  font-size: 14px;
  color: #fff;
  background-color: #F89406;
}

.profile-button:hover {
  background-color: #F2784B !important;
  position: absolute; 
}

.profile-button:focus {
  outline: none;
}

.profile-button:active {
  transform: translate(1px, 1px);
}

#search-results-title {
    font-size: 2.5em;
    color: #fff;
    text-align: center; 
}

.container-search-results{
  margin: 25px auto;
  margin-bottom: 70px !important;
  width: 1000px;
}

#container-footer{
  padding: 10px;
  height: 300px;
  width: 100%;
  background-color: #E4F1FE;
  position: relative;
  bottom: 0px;
  left: 0px;
}

/* -- nav -- */

#nav-buttons {
  font-size: 2.5em;
  color: #777777;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #81CFE0;
  width: 100%;
  position: absolute;
  text-align: center;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}

#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#cssmenu.align-right ul li {
  float: right;
}

#cssmenu.align-center ul {
  text-align: center;
}

#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#cssmenu ul li a:hover {
  color: #F89406;
}

#cssmenu ul li a:hover:before {
  width: 100%;
}

#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}

#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #F89406;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}

#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}

#cssmenu ul li.active a {
  color: #F89406;
}

#cssmenu ul li.active a:before {
  width: 100%;
}

#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}

#cssmenu.align-right li:first-child a:after {
  display: none;
}

@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }

  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #F89406;
  }

  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }

  #cssmenu ul li a:after {
    display: none;
  }

  #cssmenu ul li a:before {
    display: none;
  }
}
