/* app css stylesheet */
body {
  background-color: #81CFE0 !important;
  margin: 0px !important;
  padding: 0px !important;
  text-align: center !important; /* !!! */
}

a {
  color: #848482 !important;
}

h1 {
  color: #848482 !important;
}

.adjust {
  margin-top: 6px !important;
}

.grey {
  background-color: #DCDCDC !important;
}

#logo {
  font-size: 2.5em;
  font-family: 'Lobster', cursive;
  color: #fff;
  padding: 30px 0px 10px 0px;
}

#footer-text {
  font-size: 1.5em;
  font-family: 'Lobster', cursive;
  color: #848482 !important;
  margin: auto;
}

#footer-text:hover {
  text-decoration: underline;
  color: #848482 !important;
}

#container-head {
  height: 85px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#logbox {
  padding: 10px;
  margin: 50px auto;
  width: 340px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#container-search {
  margin-top: 30px;
  padding: 10px;
  width: 100%;
  height: 200px;
  background-color: #E4F1FE;
}

#searchBar {
  margin-top: 44px;
  height: 60px;
  width: 100%;
  background-color: #E4F1FE;
  padding: 10px;
  margin: 20px auto;
  width: 65%;
  background-color: #E4F1FE;
}

.input-profile {
  width: 75%;
  height: 50px;
  display: block;
  margin: 20px auto 30px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}

.input-bio {
  width: 75%;
  height: 200px;
  display: block;
  margin: 20px auto 15px;
  padding: 0 15px;
  border: none;
  border: 2px solid #ebebeb;
}

.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}

.input:focus {
  outline: none;
  border-bottom-color: #F89406 !important;
}

.input:hover {
  border-bottom-color: #dcdcdc;
}

.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
  position: relative;
  width: 85%;
  height: 50px;
  display: inline;
  margin: 30px auto 30px;
  color: white;
  border: none;
  -webkit-box-shadow: 0 5px 0 #F2784B;
  -moz-box-shadow: 0 5px 0 #F2784B;
  box-shadow: 0 5px 0 #F2784B;
}

#container-search .input {
  width: 40%;
  /* height: 30px; */
  display: inline;
  margin: 8px 6px 20px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}

.searchButton {
  position: relative;
  width: 40%;
  height: 45px;
  display: inline;
  margin: 0;
  color: white;
  background-color: #F89406;
  border: none;
  -webkit-box-shadow: 0 5px 0 #F2784B;
  -moz-box-shadow: 0 5px 0 #F2784B;
  box-shadow: 0 5px 0 #F2784B;
}

.signinButton {
  position: relative;
  width: 50%;
  height: 45px;
  display: inline;
  margin-bottom: 20px;
  color: white;
  background-color: #F89406;
  border: none;
  -webkit-box-shadow: 0 5px 0 #F2784B;
  -moz-box-shadow: 0 5px 0 #F2784B;
  box-shadow: 0 5px 0 #F2784B;
}

.inputButton:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 #F2784B;
  -moz-box-shadow: 0 3px 0 #F2784B;
  box-shadow: 0 3px 0 #F2784B;
}

.inputButton:active {
  top: 5px;
  box-shadow: none;
}

.inputButton:focus {
  outline: none;
}

.page-title {
  margin-bottom: 20px;
  border-bottom: none !important;
}

.container-tutor-card {
  margin: 25px auto;
  width: 1000px;
}

.container-tutor-profile {
  margin: 0px auto;
  padding:20px;
  max-width: 800px;
}

input[type="checkbox"]{
  vertical-align: -2px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #DCDCDC;
  box-sizing: border-box;
  position: relative;
  bottom: 1px
  box-sizing: content-box ;
  width: 20px;
  height: 20px;
  border-width: 0;
  transition: all .1s linear;
}

input[type="checkbox"]:checked{
  background-color: #F89406;
}

input[type="checkbox"]:focus{
  outline: 0 none;
  box-shadow: none;
}

#tutor-update-question-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

#tutor-update-subjects {
  margin-top: 40px;
  margin-bottom: 20px;
}

.update-subject-item {
  margin-right:20px;
}

#container-image-upload {
  margin-top: 40px;
  margin-bottom: 40px;
}

.tutor-name {
  font-size: 2.5em;
  color: #777777;
}

.tutor-subjects {
  font-size: 1.5em;
  color: #F89406;
  text-transform: capitalize;
}

.tutor-bio {
  font-size: 1.1em;
  color: #777777;
  white-space: pre-wrap;
}

.tutor-city {
  font-size: 1.5em;
  color: #F89406;
  text-transform: capitalize;
}

.tutor-update-question {
  font-size: 1.5em;
  color: #F89406;
}

.profile-text {
  padding: 0px 0px 15px 0px;
}

.profile-box-large {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
  min-height: 500px;
}

.profile-box {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
  height: 300px;
}

.profile-box .profile-picture {
  position: absolute;
  top: 0px;
}

.profile-box .profile-picture img {
  width: 300px;
  height: 300px;
}

.profile-box-large .profile-picture-large {
  width:300px;
  position: absolute;
}

.profile-box-large .profile-picture-large img {
  width: 300px;
  height: 300px;
}

.profile-content-large {
  padding: 30px 80px 30px 350px;
  text-align: left;
}

.username {
  position: absolute;
  top: 10px;
  right: 15px;
  border: 0 none;
  padding: 12px 18px;
  margin: 20px 20px 20px 0px;
  font-size: 1.1em;
  color: #fff;
  background-color: #81CFE0;
}

.profile-content {
  padding: 30px 80px 30px 350px;
  text-align: left;
}

.profile-content h1 {
  font-weight: normal;
  margin-bottom: 0.2em;
}

.profile-content p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #d2d2d2;
}

.card-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-button {
  border: 0 none;
  padding: 12px 18px;
  margin: 10px;
  font-size: 1.1em;
  font-size: 14px;
  color: #fff;
  background-color: #F89406;
}

.profile-button-update {
  border: 0 none;
  padding: 12px 18px;
  margin: 0px 5px 5px 5px;
  font-size: 1.1em;
  font-size: 14px;
  color: #fff;
  background-color: #F89406;
}

/*#photo-upload-button {
  text-align: center !important;
  margin:0;
}*/

input[type=file] {
  display: inline;
}

/*button[disabled] {
   background-color: #CCC;  //use your prefered color here
}
*/

.profile-button:focus {
  outline: none;
}

.profile-button-update:focus {
  outline: none;
}

.profile-button:active {
  transform: translate(1px, 1px);
}

.profile-button-update:active {
  transform: translate(1px, 1px);
}

#search-results-title {
    font-size: 2.5em;
    color: #fff;
    text-align: center; 
}

#update-profile-title {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
}

.container-search-results{
  margin: 25px auto;
  margin-bottom: 70px !important;
  width: 1000px;
}

#container-footer{
  padding: 20px;
  width: 100%;
  height: auto;
  background-color: #E4F1FE;
  position: relative;
  /*
  bottom: 0px;
  left: 0px;
  */
  display:flex;
  flex-direction: column;
}

/* -- nav -- */

#nav-buttons {
  font-size: 2.5em;
  color: #777777;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #81CFE0;
  width: 100%;
  position: absolute;
  text-align: center;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}

#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#cssmenu.align-right ul li {
  float: right;
}

#cssmenu.align-center ul {
  text-align: center;
}

#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#cssmenu ul li a:hover {
  color: #F89406;
}

#cssmenu ul li a:hover:before {
  width: 100%;
}

#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}

#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #F89406;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}

#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}

#cssmenu ul li.active a {
  color: #F89406;
}

#cssmenu ul li.active a:before {
  width: 100%;
}

#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}

#cssmenu.align-right li:first-child a:after {
  display: none;
}

@media screen and (max-width: 100px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }

  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #F89406;
  }

  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }

  #cssmenu ul li a:after {
    display: none;
  }

  #cssmenu ul li a:before {
    display: none;
  }
}

/* ---- about us ----- */
.container-about {
  margin: 60px auto;
  padding:20px;
  max-width: 800px;
}

.about-box {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
  min-height: 350px;
}

.about-content {
  padding: 30px 80px 30px 80px;
  text-align: left;
}

#about-title {
  font-size: 2.5em;
  color: #777777;
}

#about-desc {
  font-size: 1.5em;
  color: #777777;
  white-space: pre-wrap;
}

#container-home {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 600px;
  width: auto;
  background: url(./../app/homepage/map.jpg) no-repeat center center fixed;
  background-size: cover;
  background-clip: border-box;
}

#home-testimonial {
  font-size: 5em;
  font-family: 'Lobster', cursive;
  color: #F89406;
  position: relative;
  top:175px;
  text-shadow: 3px 3px #ffffff;
}

select:invalid {
  color: #808080;
}

.container-upload-title {
  margin-bottom: 20px;
}

.subjects-table {
  width: 30%;
  margin: auto;
  padding-left: 30px;
}

.subjects-table-entry {
  text-align: left;
}

.subjects-list {
  font-weight: 400;
  color: gray;
  font-size: 1.5em;
}

#photo-upload-container {
  background-color: #DCDCDC;
  width: 320px;
  height: auto;
  margin: auto;
}

#remove-underline:hover {
  text-decoration: underline !important;
}

.photo-upload-info {
  font-size: 1em;
  font-weight: 800;
  color: #fff;
}


