<!-- Search bar -->
<div id="container-search">
  <div id="searchBar" ng-controller="SearchController">       
      <form id="search" name="search-input" ng-submit="search(search.city,search.subjects)">
        <div>
          <input name="search[city]" type="text" placeholder="Enter city" required="required" class="input pass" ng-model="search.city">
        </div>
        <div>
          <input name="search[subjects]" type="text" placeholder="Enter subjects (E.g. Angular React Backbone)" required="required" class="input pass" ng-model="search.subjects">
        </div>
        <!-- <button ng-click="search()">Go</button> -->
        <button type="submit" class="inputButton searchButton">Find tutors</button>
      </form>
  </div>
</div>


