<!-- Search results -->
<div class="container-search-results">
  <div id="search-results-title">Your Search results...</div>

  <!-- searchResultsEntry 1 -->

  <!-- searchResultsEntry 2 -->

  <!-- searchResultsEntry 3 -->

  <!-- etc... -->

</div>
<!-- </div>

 NOTE: this was already in file: I think it's old - applogies if it's actually in use: -->
 
  <div ng-controller='SearchResultsController'>
  <div ng-repeat="tutor in tutorData">
    <a ng-href="/tutor/{{tutor.id}}">
    <p>Username: {{ tutor.username }} </p>
    <h5>Name: {{tutor.name}}</h5>
      <img ng-src="api/users/img/{{tutor.imageId}}">
    </a>
    <span>Knows: </span><br>
    <ul ng-repeat="subject in tutor.subjects">
      <li>- {{subject}}</li>
    </ul>
    <span>City: {{tutor.location.city}}</span><br>
    <p></p>


  </div>
  </div>

</div>
