<!-- Search results -->
<div class="container-search-results">
  <div id="search-results-title">Your search results...</div>

  <!-- Search results entry -->
  <div class="profile-text" ng-hide="subjectLength">Sorry, no matches!</div>

  <div class="container-tutor-card" ng-repeat="tutor in tutorData">

    <div class="profile-box">
      <div class="profile-picture" ng-switch="tutor.imageId">

          <img ng-switch-when="undefined" ng-src="../../default-user.jpg" />
          <img ng-switch-default="tutor.imageId !== '' " ng-src="api/users/img/{{tutor.imageId}}" />

      </div>

      <div class="profile-content">
        <div class="profile-text"><a ng-href="/tutor/{{tutor.username}}" /><span class="tutor-name">{{tutor.name}}</span></a></div>

        <div class="profile-text"><span class="tutor-bio">{{tutor.bio.substring(0, 160) + '...'}}</span></div>

        <div class="profile-text">
          <div class="tutor-subjects">{{tutor.subjects.join(', ')}}</div>
        </div>

        <div class="profile-text"><span class="tutor-city">{{tutor.location.city}}</span></div>

        <div class="card-buttons">
          <a ng-href="/tutor/{{tutor.username}}" /><button type="submit" class="profile-button" class="read-more-button">More info...</button></a>
          <!-- TODO: need to hide this button if not logged in  -->
          <a ng-disabled="!loggedIn" ng-href="mailto:{{tutor.email}}" target="_blank"><button class="profile-button" class="contact-tutor-button">Message tutor</button></a>
          <!-- TODO: add incrementer function to like button, hide without token present -->
          <button ng-disabled="!loggedIn" type="submit" class="profile-button likes-button" ng-click="clicked()">Likes: {{tutor.likes}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

